/* UI bar style */
.uiTabBar{
    border-radius: 6px;
    border: 1px solid #E2E2E2;
    background: #FFFDFD;
    padding: 8px 0;
    margin: 80px auto 0;
    font-weight: 400;
}
.uiTabItem{
    color: #0D274D;
    border-right: 1px solid #E6E6E6;
    border-left:none;
}
/* card css */
.main-flip-card{
    display: flex;
    padding-top: 13px;
    flex-wrap:wrap;
}
.flip-card {
    background-color: transparent;
    width: 422px;
    height: 431px;
    perspective: 1000px;
    margin: 30px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.flip-card:focus {
    outline: 0;
}
.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}
.flip-card  a{
    text-decoration: none;
}
.flip-card-front {
    background: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    z-index: 2;
    padding: 16px;
}
.flip-card-front-text {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.flip-card-back {
    background: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    padding:16px;
    position: relative;

}

.flip-card-back::before{
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* card img */
.flip-card-front{background-image:url(./ourstory_img/flip-card-front.jpg);}
.flip-card-front-1 {background-image:url(./ourstory_img/flip-card-front-1.jpg);}
.flip-card-front-2 {background-image:url(./ourstory_img/flip-card-front-2.jpg);}
.flip-card-front-3 {background-image:url(/sfsites/c/file-asset/card2img?v=1);}
.flip-card-front-4 {background-image:url(./ourstory_img/flip-card-front-4.jpg);}
.flip-card-front-5 {background-image:url(./ourstory_img/flip-card-front-5.jpg);}
.flip-card-front-6 {background-image:url(./ourstory_img/flip-card-front-6.jpg);}
.flip-card-front-7 {background-image:url(./ourstory_img/flip-card-front-7.jpg);}
.flip-card-front-8 {background-image:url(./ourstory_img/flip-card-front-8.jpg);}
.flip-card-front-9 {background-image:url(./ourstory_img/flip-card-front-9.png);}
.flip-card-front-10 {background-image:url(./ourstory_img/flip-card-front-10.png);}
.flip-card-front-11 {background-image:url(./ourstory_img/flip-card-front-11.jpg);}
.flip-card-front-12 {background-image:url(./ourstory_img/flip-card-front-12.jpg);}
.flip-card-front-13 {background-image:url(./ourstory_img/flip-card-front-13.png);}
.flip-card-front-14 {background-image:url(./ourstory_img/flip-card-front-14.png);}

.flip-card-back {background-image:url(./ourstory_img/flip-card-front-1.jpg);}
.flip-card-back-2{background-image:url(./ourstory_img/flip-card-front.jpg);}
.flip-card-back-3{background-image:url(./ourstory_img/flip-card-front-2.jpg);}
.flip-card-back-4{background-image:url(./ourstory_img/flip-card-front-8.jpg);}
.flip-card-back-5{background-image:url(./ourstory_img/flip-card-front-4.jpg);}
.flip-card-back-6{background-image:url(./ourstory_img/flip-card-front-5.jpg);}
.flip-card-back-7{background-image:url(./ourstory_img/flip-card-front-6.jpg);}
.flip-card-back-8{background-image:url(./ourstory_img/flip-card-front-7.jpg);}
.flip-card-back-9{background-image:url(./ourstory_img/flip-card-front-9.png);}
.flip-card-back-10{background-image:url(./ourstory_img/flip-card-front-10.png);}
.flip-card-back-11{background-image:url(./ourstory_img/flip-card-front-11.jpg);}
.flip-card-back-12{background-image:url(./ourstory_img/flip-card-front-12.jpg);}
.flip-card-back-13{background-image:url(./ourstory_img/flip-card-front-13.png);}
.flip-card-back-14{background-image:url(./ourstory_img/flip-card-front-14.png);}


/* storycr card img*/
.cr-story-front-1{background-image:url(./ourstory_img/cr-story-front-1.jpg);}
.cr-story-front-2{background-image:url(./ourstory_img/cr-story-front-2.jpg);}
.cr-story-front-3{background-image:url(./ourstory_img/cr-story-front-3.jpg);}
.cr-story-front-4{background-image:url(./ourstory_img/cr-story-front-4.jpg);}
.cr-story-front-5{background-image:url(./ourstory_img/cr-story-front-5.jpg);}
.cr-story-front-6{background-image:url(./ourstory_img/cr-story-front-6.jpg);}
.cr-story-front-7{background-image:url(./ourstory_img/cr-story-front-7.png);}

.cr-story-back-1{background-image:url(./ourstory_img/cr-story-front-1.jpg);}
.cr-story-back-2{background-image:url(./ourstory_img/cr-story-front-2.jpg);}
.cr-story-back-3{background-image:url(./ourstory_img/cr-story-front-3.jpg);}
.cr-story-back-4{background-image:url(./ourstory_img/cr-story-front-4.jpg);}
.cr-story-back-5{background-image:url(./ourstory_img/cr-story-front-5.jpg);}
.cr-story-back-6{background-image:url(./ourstory_img/cr-story-front-6.jpg);}
.cr-story-back-7{background-image:url(./ourstory_img/cr-story-front-7.png);}

/* storyes card img*/
.es-story-front-1{background-image:url(./ourstory_img/es-story-front-1.jpg);}
.es-story-front-2{background-image:url(./ourstory_img/es-story-front-2.jpg);}
.es-story-front-3{background-image:url(./ourstory_img/es-story-front-3.jpg);}
.es-story-front-4{background-image:url(./ourstory_img/es-story-front-4.jpg);}
.es-story-front-5{background-image:url(./ourstory_img/es-story-front-5.jpg);}
.es-story-front-6{background-image:url(./ourstory_img/es-story-front-6.jpg);}
.es-story-front-7{background-image:url(./ourstory_img/es-story-front-7.png);}
.es-story-front-8{background-image:url(./ourstory_img/es-story-front-8.png);}
.es-story-front-9{background-image:url(./ourstory_img/es-story-front-9.png);}

.es-story-back-1{background-image:url(./ourstory_img/es-story-front-1.jpg);}
.es-story-back-2{background-image:url(./ourstory_img/es-story-front-2.jpg);}
.es-story-back-3{background-image:url(./ourstory_img/es-story-front-3.jpg);}
.es-story-back-4{background-image:url(./ourstory_img/es-story-front-4.jpg);}
.es-story-back-5{background-image:url(./ourstory_img/es-story-front-5.jpg);}
.es-story-back-6{background-image:url(./ourstory_img/es-story-front-6.jpg);}
.es-story-back-7{background-image:url(./ourstory_img/es-story-front-7.png);}
.es-story-back-8{background-image:url(./ourstory_img/es-story-front-8.png);}
.es-story-back-9{background-image:url(./ourstory_img/es-story-front-9.png);}

/* storyee card img*/
.ee-story-front-1{background-image:url(./ourstory_img/ee-story-front-1.jpg);}
.ee-story-front-2{background-image:url(./ourstory_img/ee-story-front-2.jpg);}
.ee-story-front-3{background-image:url(./ourstory_img/ee-story-front-3.jpg);}
.ee-story-front-4{background-image:url(./ourstory_img/ee-story-front-4.jpg);}
.ee-story-front-5{background-image:url(./ourstory_img/ee-story-front-5.jpg);}
.ee-story-front-6{background-image:url(./ourstory_img/ee-story-front-6.jpg);}
.ee-story-front-7{background-image:url(./ourstory_img/ee-story-front-7.png);}
.ee-story-front-8{background-image:url(./ourstory_img/ee-story-front-8.png);}
.ee-story-front-9{background-image:url(./ourstory_img/ee-story-front-9.png);}
.ee-story-front-10{background-image:url(./ourstory_img/ee-story-front-10.jpg);}

.ee-story-back-1{background-image:url(./ourstory_img/ee-story-front-1.jpg);}
.ee-story-back-2{background-image:url(./ourstory_img/ee-story-front-2.jpg);}
.ee-story-back-3{background-image:url(./ourstory_img/ee-story-front-3.jpg);}
.ee-story-back-4{background-image:url(./ourstory_img/ee-story-front-4.jpg);}
.ee-story-back-5{background-image:url(./ourstory_img/ee-story-front-5.jpg);}
.ee-story-back-6{background-image:url(./ourstory_img/ee-story-front-6.jpg);}
.ee-story-back-7{background-image:url(./ourstory_img/ee-story-front-7.png);}
.ee-story-back-8{background-image:url(./ourstory_img/ee-story-front-8.png);}
.ee-story-back-9{background-image:url(./ourstory_img/ee-story-front-9.png);}
.ee-story-back-10{background-image:url(./ourstory_img/ee-story-front-10.jpg);}

/* storyes card img*/
.all-story-front-1{background-image:url(./ourstory_img/all-story-front-1.jpg);}
.all-story-front-2{background-image:url(./ourstory_img/all-story-front-2.jpg);}
.all-story-front-3{background-image:url(./ourstory_img/all-story-front-3.jpg);}

.all-story-back-1{background-image:url(./ourstory_img/all-story-front-1.jpg);}
.all-story-back-2{background-image:url(./ourstory_img/all-story-front-2.jpg);}
.all-story-back-3{background-image:url(./ourstory_img/all-story-front-3.jpg);}
/* card img end*/
