/* UI bar style */
.uiTabBar{
    border-radius: 6px;
    border: 1px solid #E2E2E2;
    background: #FFFDFD;
    padding: 8px 0;
    margin: 80px auto 0;
    font-weight: 400;
}
.uiTabItem{
    color: #0D274D;
    border-right: 1px solid #E6E6E6;
    border-left:none;
}
/* card css */
.main-flip-card{
    display: flex;
    padding-top: 13px;
    flex-wrap:wrap;
}
.flip-card {
    background-color: transparent;
    width: 422px;
    height: 431px;
    perspective: 1000px;
    margin: 25px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.flip-card:focus {
    outline: 0;
}
.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}
.flip-card  a{
    text-decoration: none;
}
.flip-card-front {
    background: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    z-index: 2;
    padding: 16px;
}
.flip-card-front-text {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.flip-card-back {
    background: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    padding:16px;
    position: relative;

}

.flip-card-back::before{
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
