@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700;800&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

html,
body {
    /* font-family: CiscoSans, sans-serif; */
    font-family: "Sarabun", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;

}

body {
    background-color: #F3F4F6;
    color: #606162;
    font-size: 14px;
    font-weight: 400;
}

a {
    color: #0070D2;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1B1C1D;
}

h2 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border-color: #E3E3E3;
    opacity: 1;
}

.bg-primary {
    background-color: #0070D2 !important;
}

/* @font-face {
    font-family: CiscoSans;
    src: url("https://salesconnect.cisco.com/0DONOTUSE/sfsites/c/resource/1719526433000/CiscoSansTTThin") format("woff");
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 100;
    unicode-range: U+0000-00FF, U+2000-20Cf, U+2150-215f
}



@font-face {
    font-family: CiscoSans;
    src: url("https://salesconnect.cisco.com/0DONOTUSE/sfsites/c/resource/1719526247000/CiscoSansTTExtraLight") format("woff");
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 200;
    unicode-range: U+0000-00FF, U+2000-20Cf, U+2150-215f
}



@font-face {
    font-family: CiscoSans;
    src: url("https://salesconnect.cisco.com/0DONOTUSE/sfsites/c/resource/1719526337000/CiscoSansTTLight") format("woff");
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    unicode-range: U+0000-00FF, U+2000-20Cf, U+2150-215f
}



@font-face {
    font-family: CiscoSans;
    src: url("https://salesconnect.cisco.com/0DONOTUSE/sfsites/c/resource/1689263643000/CiscoSansTTRegular") format("woff2");
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400
}





@font-face {
    font-family: CiscoSans;
    src: url("https://salesconnect.cisco.com/0DONOTUSE/sfsites/c/resource/1719526372000/CiscoSansTTMedium") format("woff");
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0000-00FF, U+2000-20Cf, U+2150-215f
}


@font-face {
    font-family: CiscoSans;
    src: url("https://salesconnect.cisco.com/0DONOTUSE/sfsites/c/resource/1719525914000/CiscoSansTTBold") format("woff");
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0000-00FF, U+2000-20Cf, U+2150-215f
}




@font-face {
    font-family: CiscoSans;
    src: url("https://salesconnect.cisco.com/0DONOTUSE/sfsites/c/resource/1719526294000/CiscoSansTTHeavy") format("woff");
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    unicode-range: U+0000-00FF, U+2000-20Cf, U+2150-215f
} */

.header-hero-banner {
    background-color: #fff;
    background-image: url(https://salesresources.cisco.com/gateway/services/bss/tenants/salesconnect/api/image/v1/salesconnect/salesconnect/475bbf5b-b808-4c62-ad7b-443c34a73ab6?userid=145276b9-1587-4125-b412-9e0a8663d924&sig=9WO0L8yebxBVXBzzgQI%2FvRmf18Q27MozGiJsVAWqUzQ%3D&requestSize=Origin&redirecturi=https%3A%2F%2Fcdn-prod.seismic.com%2Fstatic%2Fexternal-resources%2Fimages%2FImageNotFound.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
    border-radius: 24px 24px 0 0;
    min-height: 550px;
    background-position: bottom center;
    overflow: hidden;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar {
    background: rgba(17, 45, 84, 0.65);
    padding: 0 24px;
}

.navbar .navbar-nav li {
    margin-left: 20px;
}

.navbar .navbar-nav li:first-child {
    margin-left: 0px;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    padding: 24px 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.hero-section .row {
    min-height: 350px;
}

.quote-section {
    position: relative;
    display: flex;
    gap: 10px;
}

.quote-text {
    color: #A2B8D6;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.quote-author {
    font-size: 16px;
    font-weight: 700;
    padding-top: 14px;
}

.quote-icon {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='29' fill='none'%3E%3Cpath opacity='.4' d='M18.993 29V18.168c0-6.312 2.13-11.06 6.388-14.244C28.26 1.763 31.8.454 36 0v6.653c-4.777 1.023-7.166 4.009-7.166 8.956h5.44V29H18.992ZM0 29V18.168c0-6.312 2.13-11.06 6.388-14.244C9.266 1.763 12.806.454 17.008 0v6.653c-4.778 1.023-7.166 4.009-7.166 8.956h5.439V29H0Z' fill='%23D5E1F2'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: contain;
    width: 46px;
    height: 30px;
}

.carousel-section {
    background-color: #fff;
    border-radius: 0 0 24px 24px;
    padding: 30px 20px;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 0px;
}

.carousel-item img {
    max-width: 160px;
    border-radius: 10px;
}

.carousel-content {
    padding-left: 20px;
}

.carousel-content h5 {
    font-weight: bold;
    color: #1B1C1D;
    font-weight: 500;
}

.carousel-content p {
    margin-bottom: 8px;
}

.carousel-content a {
    color: #0070D2;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
}

.text-muted {
    font-size: 12px !important;
    color: #606162 !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 4px;
    border-radius: 0px;
    background-color: #E3E7ED;
    margin: 5px 4px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #0070D2;
}

.impact-section {
    border-radius: 24px;
    background-color: #fff;
    padding: 45px 20px 36px;
}

.home-card-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.home-card-row a {
    display: block;
    text-decoration: none;

}

.home-card {
    flex: 1;
    width: 16.66666667%;
    padding: 50px 25px 25px 25px;
    display: inline-block;
    min-height: 365px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home-card .img {
    height: 80px;
}

.home-card .img img {
    -webkit-filter: brightness(10);
    filter: brightness(10);
}

.home-card h3.cpn-slcn-h4-1 {
    padding: 20px 0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
    line-height: 1.5;
}

.home-card .cpn-slcn-h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    color: #E2E2E2;
    padding-top: 8px;
    margin: 0px;
}

.subfooter-section {
    border-radius: 24px;
    background: #E2E8F0;
    padding: 16px;
    color: #505C6B;
}

.subfooter-section hr {
    border-color: #CDD5DF;
}




@media (max-width: 1279px) {
    .home-card {
        width: 33.33333333%;
        flex: auto;
    }
}

@media (max-width: 992px) {
    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }

    .navbar .navbar-nav li {
        margin-left: 0px;
    }

    .navbar .offcanvas {
        width: 300px;
    }
}

@media (max-width: 600px) {
    .home-card {
        width: 50%;
    }

    .carousel-item {
        display: block;
    }

    .carousel-content {
        padding: 20px 0 0 0;
    }

    .header-hero-banner {
        min-height: 250px;
    }

    .hero-section .row {
        min-height: 230px;
    }

    .quote-text {
        font-size: 18px;
    }

    .quote-author {
        font-size: 14px;
    }
}